---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  <p class="post-comment">
    <h2>comments</h2>
    <ul id="post-comment-ul"></ul>
    <ul id="post-comment-input">
      <input type="text" name="user">
      <input type="text" name="body">
      <button type="submit" id="comment-submit">작성</button>
    </ul>
  </p>
</article>