---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  <p class="post-comment">
    <h2>comments</h2>
    <ul id="post-comment-ul"></ul>
    <ul id="post-comment-input">
      <!--<label for="user">your name</label>--><input type="text" name="user" placeholder="your name" minlength="2" maxlength="30">
      <!--<label for="body">comment body</label>--><textarea name="body" placeholder="comment body" maxlength="1000" minlength="2" rows="3"></textarea>
      <button type="submit" id="comment-submit">Add a comment</button>
    </ul>
  </p>
  <p class="post-meta">
    <a href="#">top</a>
  </p>
</article>