---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  <div class="post-comment">
    <h2>comments</h2>
    <ul id="post-comment-ul"></ul>
    <ul id="post-comment-input">
      <label for="user">your name</label><input type="text" name="user" placeholder="your name">
      <label for="body">comment body</label><input type="text" name="body" placeholder="comment body">
      <button type="submit" id="comment-submit">Add a comment</button>
    </ul>
  </div>
</article>